{%extends 'base.html'%}

{%block body_block%}

<div class="row ">


    <div class="col-4  "></div>
    <div class="col-4  ">

        {%for m in messages%}
        {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{m}}</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {%endif%}
        {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{m}}</strong> You should check in on some of those fields below.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endif%}


        {%endfor%}


        <form  class="border border-primary p-2 mb-2 border-opacity-50" method="post" enctype="multipart/form-data">



            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="add">
        </form>
    </div>
    <div class="col-4"></div>
</div>



<!-- question list -->

<hr class="my-4  " />

<div class="container px-4 px-lg-5 text-success">
    {%for q in questions%}
    <div class="row gx-4 gx-lg-5 justify-content-center  ">
        <div class="  ">
            <!-- Post preview-->
            <div class="post-preview  ">
                {%if q.image%}
                <div class="">
                    <img src="{{q.image.url}}" alt="..." width="300" height="300">
                </div>
                {%endif%}
                <a href="post.html">

                    <h2 class="post-title">{{q.title}}</h2>
                    <h3 class="post-subtitle">{{q.description}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{q.user}}</a>
                    on {{q.created_date}}
                </p>
            </div>
            <div>
                <form action="{%url 'add-answer' q.id %}" method="post">
                    {%csrf_token%}
                    <input type="text" placeholder="Enter your answer" name="Answer" class="form-control">
                    <button type="submit" class="mt-2 btn  btn btn-primary btnPP-sm">add</button>
                </form>
            </div>
            <!--  -->

            <h5 class="post-title mt-2 text-success">Answers</h5>
            {%for ans in q.question_answers%}
            <div class="border rounded-pill p-3 border-success mt-2   ">

                . {{ans}}
            </div>
            <div> <span class="fst-italic sm text-primary" >user {{ans.user}}

                    , date {{ans.created_date}}
                    , votecount {{ans.upvotecount}} <a href="{%url 'add-upvote' ans.id%}" class="">
                        <i class="fa-regular fa-heart"></i>
                    </a>

                </span>
            </div>


            {%endfor%}
            <!-- Divider-->
            <hr class="my-4" />
        </div>
        {%endfor%}

    </div>

    <!-- end questions list -->

    {%endblock%}